{% extends 'base.html' %}

{% block content %}

<h1>About the creator!</h1>

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Mew R.</h5>
      <h6 class="card-subtitle mb-2 text-muted">CS Senior at UCI</h6>
      <p class="card-text">With a double specialization in information and intelligent systems, the creator seeks to explore more about the other areas of software development in order to find the path which best suits her interests and skills. This project is created in order to explore fullstack developement. In the future, more features such as weather prediction and more customizations may be added.</p>
      <p class="card-text">Disclaimer: This website is a project from Codemy and the creator made a few modifications.</p>
      <a href="https://github.com/MEOWcanCODE/Weather-App" class="card-link">Github link</a>
      <a href="https://uci.udemy.com/course/build-a-weather-app-with-python-and-django/learn/" class="card-link">Course link</a>
    </div>
  </div>

{% endblock %}